<header class="top-navbar">

    <div class="navbar-left">

        <h2>

            {% block page_heading %}

            SmartLearn AI

            {% endblock %}

        </h2>

        <p>

            Personalized AI-powered academic learning platform.

        </p>

    </div>


    <div class="navbar-right">

        <div class="search-box">

            <i class="fas fa-search"></i>

            <input
                type="text"
                placeholder="Search learning resources..."
            >

        </div>


        <div class="nav-icons">

            <a href="{% url 'activity' %}" title="Learning Activity" style="display: inline-block;">
                <button type="button">
                    <i class="far fa-bell"></i>
                </button>
            </a>


            <a href="{% url 'profile' %}" title="My Profile" style="display: inline-block;">
                <button type="button">
                    <i class="far fa-user-circle"></i>
                </button>
            </a>

        </div>

    </div>

</header>